<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ICG_Inter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ICG_Inter.Properties.Settings>
            <setting name="ConnStringSQL2" serializeAs="String">
                <value>Data Source=192.168.2.144\MSSQLSERVER01;Initial Catalog=AGORA;User ID=sa;Password=B1Admin;Pooling=False</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value>Microsoft Print to PDF</value>
            </setting>
            <setting name="ConnStringSQL1" serializeAs="String">
                <value>Data Source=10.238.26.69;Initial Catalog=AGORA;User ID=sa;Password=masterkey;Pooling=False</value>
            </setting>
            <setting name="PathFirmFEL" serializeAs="String">
                <value>C:\\JOIN\\pruebxml\\</value>
            </setting>
            <setting name="Bodega" serializeAs="String">
                <value>PRINCIPAL</value>
            </setting>
            <setting name="ServidorFirmado" serializeAs="String">
                <value>10.238.26.69</value>
            </setting>
            <setting name="UserFirmado" serializeAs="String">
                <value>ICGAdmin</value>
            </setting>
            <setting name="BDFirmado" serializeAs="String">
                <value>AGORA</value>
            </setting>
            <setting name="SERIETIENDA" serializeAs="String">
                <value>PPZ</value>
            </setting>
        </ICG_Inter.Properties.Settings>
    </applicationSettings>
</configuration>